* {
    font-family: roboto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h3, p {
    margin: 0;
}

#header-section {
    height: 50px;
}

#footer-section {
    height: 75px;
}

#header-section, #footer-section, #hero-section {
    background-color: #1F2937;
    color: white;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 75px;
}

#header-container, #hero-container, #action-container {
    width: 700px;
}

#header-container, #hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.hero {
    /*width: 300px;
    height: 175px;*/
    width: 300px;
    height: 175px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-left-primary {
    font-weight: 800;
    color: #F9FAF8;
}

.hero-left-secondary {
    font-size: 12px;
    color: #E5E7EB;
}

#info-container, #quote-container {
    width: 500px;
}

#info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.info-item-pic, .info-item-caption {
    height: 100px;
    width: 100px;
}

.info-item-pic {
    border-style: double;
    border-width: 2px;
    border-color: #3882f6;
}

.info-item-caption {
    margin: 0;
    text-align: center;
    font-size: 12px;
}

#quote-section {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-source {
    font-weight: bold;
    text-align: right;
}

#action-section {
    padding: 55px 50px;
}

#action-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 50px;
    color: #F9F8FA;
}

.action-message-header, .action-message-text {
    margin: 0;
}

.action-message-text {
    font-size: 12px;
}

#footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

button.signup {
    height: 25px;
    width: 90px;
    color: white;
    font-weight: bold;
    border: none;
}

button.signup#action-signup {
    border-style: solid;
    border-color: white;
    border-width: thin;
}

button.signup, #action-container {
    background-color: #3882f6;
}

.round {
    border-radius: 8px;
}